root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.mdx]
# Disable all formatting for MDX files
indent_style = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
